.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.page-index{
    position: relative
}
.page-index .start{
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.page-index .start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(../images/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}

.fullPage-wp{   
    -webkit-transform: translate3d(0,0,0);     
    transform: translate3d(0,0,0);     
}
.fullPage-wp:after {
    display: block;
    content: ' ';
    height: 0;
    clear: both;
}
.fullPage-wp.anim{
    -webkit-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s; 
}
.fullPage-page{
    display: block;
    overflow: hidden;
}

.fullPage-dir-h {
    float: left;
}
/*视差滚动的样式*/

.page-index{
    background-color:#424242;
}
.page-result{
    background-color: #f2f2f2;
    height: 300px;
    overflow: hidden
}
.page-about{
    background-color: #f2f2f2;
}
.wrapper{
    width: 300px;
    background: none;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
}
.wrapper button{
    color: #fff;
    border: 1px solid #fff;
    padding: 3px 8px;
}
.floater {
    float:left; 
    height:50%;     
}
.page .floater{
    margin-bottom:-50px;
}

.index-intro{
    clear:both; 
    position:relative;
    height: 100px;
    /*margin-top: -100px;*/
}
.index-intro h1{font-size: 28px;}
.index-intro h2{font-size: 18px;}
.index-button-holder{
    height: 50px;            
    margin-top: 20px;
}
.page-index .floater{
    margin-bottom: -85px;
}
.content-holder{
    position:relative;
}
.content-holder .my-badge{
    
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.content-holder .floater{
    margin-bottom: -100px;
}
.content{
    clear:both; 
    position:relative;
    height: 200px;
    background: none;
    font-size: 14px;
    line-height: 14px;
}
.content input{
    background: none;            
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0px;
    outline: 0;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-right:none;
    border-left: none;

}
.content p{
    padding: 5px 0
}
.results{
    clear:both; 
    position:relative;
    height: 300px;
    overflow: hidden
    /*margin-top: -150px;*/
}
.results-holder{
    height: 200px;
    background: url('../images/bg.png') repeat
}
.page-result .floater{
    margin-bottom: -150px;
}
.result-dan{
    background: #EA5B46;
    border-bottom: 1px dashed #fff;
}
.dan-content{
    display: none;
}
.results-holder button{
    color: #EA5B46;
    border: 1px solid #EA5B46;
    padding: 3px 8px;
}
.result-dan .dan-header{
    padding: 5px 0;
    text-align: center;
    font-size: 24px;
}
.results-holder .triangle-down {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #EA5B46;
}
.page-about .content{
    color: #333
}
.page-about .floater{
    margin-bottom: -100px;
}
#copyright {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #999;
    height: 30px;
    margin-top: 10px;
}
#copyright:before {
    display: block;
    content: "";
    background-image: -webkit-gradient(radial,center center,0,center center,460,from(#333),to(#efefef));
    background-image: -webkit-radial-gradient(circle,#333,#efefef);
    background-image: -moz-radial-gradient(circle,#333,#efefef);
    background-image: radial-gradient(circle,#333,#efefef);
    background-repeat: no-repeat;
    height: 1px;
    overflow: hidden;
    margin-top: 12px;
}
#copyright .copyright_text {
    line-height: 23px;
    background: #f2f2f2;
    position: absolute;
    padding: 0 6px;
    top: -11px;
    left: 50%;
    margin-left: -106px;
}
.copyright_text a {
    margin-left: 8px;
    color: #a9a9a9;
}
.help-block,.help-block a{
    color: #a9a9a9;
}
.num{
    display: block;
    font-size: 24px;
}
#rank-score{
    height: 36px;
}
#rank-score .ui-loading-wrap{
    
}
#check-result-btn{
    margin-top: 20px;
}
#teacher-holder{
    margin-top: 10px;
    padding-bottom: 50px;
}
#what-teacher-says{
    font-size: 14px;
    margin: 10px 0
}